<div class="article-details">
	<div style="display: flex">
		<h2 class="article-title">
			<a href="{{ .RelPermalink }}">
				{{- .Title -}}
			</a>
		</h2>

		<div style="margin-left:auto;display:inline-flex;">
			{{ if .Params.categories }}
			<header class="article-category">
				{{ range (.GetTerms "categories") }}
					<a href="{{ .RelPermalink }}" {{ with .Params.style }}style="background-color: {{ .background }}; color: {{ .color }};"{{ end }}>
						{{ .LinkTitle }}
					</a>
				{{ end }}
			</header>
			{{ end }}

			{{- if not .Date.IsZero -}}
			<footer class="article-time" style="white-space: nowrap;">
				{{ partial "helper/icon" "clock" }}
				<time class="article-time--published">
					{{- .Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
				</time>
			</footer>
			{{- end -}}
		</div>
	</div>

    {{ with .Params.description }}
    <h3 class="article-subtitle">
        {{ . }}
    </h3>
    {{ end }}

</div>
