<div class="article-details">
	<div style="display: flex">
		<h2 class="article-title" style="margin-right: 20px;">
			<a href="{{ .RelPermalink }}">
				{{- .Title -}}
			</a>
		</h2>
		{{- if not .Date.IsZero -}}
		<footer class="article-time" style="margin-left:auto; white-space: nowrap;">
			{{ partial "helper/icon" "clock" }}
			<time class="article-time--published">
				{{- .Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
			</time>
		</footer>
		{{- end -}}
     </div>

    {{- $image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
    {{ if not $image.exists }}
		{{ with .Params.description }}
		<h3 class="article-subtitle">
			{{ . }}
		</h3>
		{{ end }}
    {{ end }}
	
</div>
