<aside class="related-contents--wrapper">
    {{ $related := (where (.Site.RegularPages.Related .) "Params.hidden" "!=" true) | first 5 }}
    {{ with $related }}
        <h2 class="section-title">{{ T "article.relatedContents" }}</h2>
        <div class="related-contents">
            <div class="flex article-list--tile">
                {{ range . }}
                    {{ partial "article-list/tile" (dict "context" . "size" "250x150 jpg" "Type" "articleList") }}
                {{ end }}
            </div>
        </div>
    {{ end }}
</aside>
